<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - FHIR Watch Data</title>
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.2.504/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.2.504/kendo.all.min.js")"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>